
#container .ra-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 60px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 800px) {
  #container .ra-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#container .ra-section .ra-container {
  width: 30%;
  margin: 1px;
}

@media only screen and (max-width: 800px) {
  #container .ra-section .ra-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #container .ra-section .ra-container .ra-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  #container .ra-section .ra-container .ra-block .ra-block-img {
    min-width: 40%;
    width: 40%;
    margin-right: 10px;
  }
}

#container .ra-section .ra-container .ra-block .ra-block-img img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #container .ra-section .ra-container .ra-block .ra-block-info {
    margin-top: 10px;
  }
}

#container .ra-section .ra-container .ra-block .ra-block-info p {
  margin-top: 5px;
  font-size: 12px;
}
